body {
  text-align: center;
}
ul {
  list-style: none;
}
li {
  font-size: larger;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 2vh;
}
a:hover {
  border-left: red solid 2vh;
}
